.reciept_paper {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid mediumpurple;
    padding: 5px;
}
ol {
    border: 1px solid green;
    width: 250px;
    padding-left: 0;
}
h4 {
    margin-bottom: 0;
}
ul {
    list-style: none;
    padding-left: 0px;
    /* border: 2px solid green; */
    border-top: 0;
    max-width: fit-content;
    
}
li, .labels {
    border-bottom: 1px solid black;
    padding: 5px;
}
.labels {
    display: flex;
    justify-content:space-between;
    border-right: 0;
    padding-bottom: 0;
}
.labels p {
    border-top: 1px dotted green;
    border-bottom: 1px dotted purple;
}
.items, .quantity, .price {
    font-size:smaller;
}
.box .price {
    border-left: 2px solid black;
    border-right: 0;
}
.items {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
.box {
    display: flex;
    justify-content: space-between;
}
.box ul {
    border-right: 2px solid black;
}
footer {
    margin-left: auto;
    width: 200px;
    border: 2px double green;
}
.ending {
    display: flex;
    font-size: 10px;
    padding: 0;
}
.ending p {
    padding: 0 3px;
}
