* {
    text-align: center;
    font-size: 20px;
}
h1 {
    font-weight: 200;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.chicken {
    background-color: #f4e8a4;
}
.potato {
    background-color: #b35c44;
}
.broccoli {
    background-color: #6caa4d;
}
.unrelated {
    background-color: mediumpurple;
}